.cbpm-container {
  font-family: 'Segoe UI', sans-serif;
  color: #111;
  padding-top: 110px;
}

.cbpm-banner {
  background-image: url('/public/Weed.jpg'); /* Replace with your image path */
 background-size: cover;
  background-position: center;
  height: 350px;
  position: relative;
}
.cbpm-overlay{
  background-color: rgba(0, 128, 0, 0.5); /* Green overlay */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cbpm-banner h1 {
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  color: white; /* Green heading */
  text-align: center;
}


.cbpm-text-section {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.6;
}
.cbpm-text-section h2{
  color:#00A651;
}

.getintouch {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 30px;
}

.dropdown {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.dropdown-content {
  margin-top: 10px;
  padding-left: 10px;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .cbpm-banner h1 {
    font-size: 32px;
  }

  .cbpm-text-section {
    font-size: 16px;
  }

  .dropdown-header {
    font-size: 18px;
  }
}
