.what-we-do-page {
  font-family: 'Segoe UI', sans-serif;
  color: #2d2d2d;
  padding-top: 110px;
}

.what-we-do-banner {
  background-image: url('/public/WhatWeDo.jpg'); /* Replace with actual path */
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-we-do-banner .overlay {
  background-color: rgba(61, 7, 110, 0.6); /* purple tint */
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.what-we-do-banner h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.what-we-do-content {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.what-we-do-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4d007d;
  margin-bottom: 20px;
}

.what-we-do-content p {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 30px;
}

.what-we-do-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5a0faa;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .what-we-do-banner h1 {
    font-size: 2rem;
  }

  .what-we-do-content h2 {
    font-size: 1.2rem;
  }

  .what-we-do-content h3 {
    font-size: 1rem;
  }

  .what-we-do-content p {
    font-size: 0.95rem;
  }
  .what-we-do-page{
    padding-top: 80px;
  }
}
